// Default files 
@import "modules/variables.less";
@import "modules/reset.less";
@import  "modules/grid.less";
@import "modules/typography.less";
@import "modules/buttons.less";
@import "modules/forms.less";

// Default structure
@import "modules/header.less";
@import "modules/footer.less";
 
  
// Main

.hero-index {
    height:500px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    position:relative;
    z-index:0 !important;
    top:-70px;
}



 