// Default files 
@import "modules/variables.less";
@import "modules/reset.less";
@import  "modules/grid.less";
@import "modules/buttons.less";

// Default structure
@import "modules/header.less";
@import "modules/footer.less";
 
  
// Main

.hero-index {
    height:500px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    position:relative;
    z-index:0 !important;
    top:-72px;
    @media only screen and (max-width:992px) {
        top:0;
    }
}

   .logo {
        display:inline-block;
        font-weight:900 !important;
        text-transform:uppercase;
        font-size:1.65em;
        margin:1em auto;
        text-align:left;
       
   
       span {
            display:block;
            text-transform:none;
            font-weight:300;
            color:#EEE;
            font-size:.75rem !important;
            line-height:1.1;
            letter-spacing:3.5px;
            margin-top:.5em;
        }
       
       @media only screen and (max-width:768px) {
           font-size:2em;
           margin:.5em auto 1em;
           span {
               font-size:1rem !important;
           }
       }
}

 