.head-wrap {
    padding:0 !important; 

    .top-bar {
        background-color:@brand-secondary;
        position:relative;
        z-index:101;        
        
        .row {
            display:flex;
            align-items:center;
        }
        

        a:not(.logo) {
            display:flex !important;
            align-items:center;
            justify-content:center;
            
            p {
                text-transform:uppercase;
                margin:0;
                color:#FFF;
                padding-bottom:3px;
                margin-bottom:5px;
                border-bottom:solid 2px #FFF;
                display:inline-block;
            }
            
            img {
                float:left;
                margin-right:15px;
            }
            
            tel, location {
                font-size:.8em;
                color:#EEE;
                display:block;
            }

        }


        
    }


    .main-nav {
        z-index:100;
        
        nav {
            display:flex;
            align-items:center;
            justify-content:center;
            flex-direction:column;    
            background-color:#FFF;
            position:relative;
            z-index:5000 !important;
            
            ul {
                list-style:none;
                padding:0;
                margin:0;
                display:inline-block;
                
                li {
                    display:inline-block;

                    a {
                        font-size:.95em;
                        text-transform:uppercase;
                        color:@brand-third !important;
                        padding:1.5rem 1.65rem;
                        display:inline-block;
                        font-weight:700;
                        
                        &:hover {
                            color:@brand-primary!important;
                        }
                    }
                }
            }
        }
        
        .nav-btn {
            background-color:@brand-primary !important;
            color:@brand-secondary !important;
            padding:.5em 1em;
            
            &:hover {
                background-color:@brand-secondary !important;
                color:@brand-primary!important;
                
            }
        }
        
        ul li .drpdwn {
            ul.menu {
                display:none;
            }
            &:hover ul.menu {
                display:inline-block;
            }
            .arrw:after {
            content:'˅';
            margin-left:8px;
            font-weight:400;
            font-size:.9em;                
            }
        }
        
        ul.menu {
            position:absolute !important;
            top:4.4rem;
            display:inline-block;
            background-color:#FFF;
            z-index:98 !important;
            
            li {
                display:block;
                margin:0;
                position:relative;
                z-index:99 !important;
                
                a {
                    position:relative;
                    padding:1rem 2.3rem;
                    display:block;
                    font-size:.8em;
                    
                }
                
            }
            
        }
    }
}